.navBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    .list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        .list-item{
            font-size: 18px;
            color:#fff;
            padding: 8px 16px;
            border: 1px solid #000;
            background-color: #56A0D3;
            cursor: pointer;
        }
    }
}

.itemTable{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color:#000;
    margin: 3rem 1rem;
    .item{
        display: flex;
        flex-direction: column;
        &:nth-child(2n - 1){
            border: 2px solid #989898;
            padding: 0 1rem;
            background-color: #ccc;
        }
        .item-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            .item-image{
                width:80px;
                height:80px;
                margin-right: 2rem;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .item-data{
                display: flex;
                flex-direction: column;
                .item-data-name{
                    font-size: 22px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
        }
        .item-data{
            display: flex;
            flex-direction: column;
            margin:2rem;
            .item-info{
                font-size: 26px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 1rem;
            }
            .item-data-details{
                display: flex;
                padding: 0.5rem 0;
                &:first-child{
                    margin-top:1rem;
                    margin-bottom: 1rem;
                }
                div{
                    min-width: 30%;
                    font-size: 18px;
                }
            }
        }
        .item-actions{
            margin-left: auto;
            margin-right: 2rem;
            display: flex;
            align-items: center;
            .approve{
                background-color: #56A0D3;
                color:#fff;
                font-weight: 600;
                border:none;
                padding: 16px 32px;
                min-width: 120px;
                cursor: pointer;
            }
            .reject{
                background-color: #aa3424;
                color:#fff;
                font-weight: 600;
                border:none;
                padding: 16px 32px;
                margin-right: 1rem;
                min-width: 120px;
                cursor: pointer;
            }
        }
    }
}
.mr-2{
    margin-right: 1.5rem;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.search-input{
    padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border: 1px solid #ccc;
}